---
title: Le Wagon - Middleman
---


<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/tokyo');">
  <div class="banner-content">
    <h1>Le Wagon Tokyo</h1>
    <h3>ラーﾝ・トゥー・コード・ウィズ・アス・イﾝ・トーキーオー</h3>
    <p>Learn to code with us in Tokyo</p>
    <a class="btn btn-danger btn-lg">Start now</a>
  </div>
</div>



<div class="container">
  <h1 style="text-align: center; margin-top: 50px;">Upcoming Batches</h1>
  <div class="row" style="padding-top: 30px">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Shanghai</h2>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Berlin</h2>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/alex-felix">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('https://kitt.lewagon.com/placeholder/cities/rio');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2>Rio</h2>
        </div>
        <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/krokrob">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
